.container {
  background-color: rgb(7, 7, 39);
  height: 100vh;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  max-width: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
